h1 {
    color: purple; 
    font-weight: 500; 
    font-size: 30px;
    font-family: Georgia
}

li {
    color: darkblue; 
    font-weight: 300;
    font-family: Georgia
}

img {
    height: 400px;
    border-color: skyblue;
    border-style: solid;
}